@using BlazorApp.Models
@if (Show)
{
    <div class="modal">
        <div class="modal-content">
            <p>@DialogMessage</p>
            @if (((ModalButtonsEnum)ShowButtons).HasFlag(ModalButtonsEnum.mbYes))
            {
                <button onclick="() => ConfirmResult(ModalButtonsEnum.mbYes)">Yes</button>
            }

            @if (((ModalButtonsEnum)ShowButtons).HasFlag(ModalButtonsEnum.mbNo))
            {
                <button onclick="() => ConfirmResult(ModalButtonsEnum.mbNo)">No</button>
            }

            @if (((ModalButtonsEnum)ShowButtons).HasFlag(ModalButtonsEnum.mbDelete))
            {
                <button onclick="() => ConfirmResult(ModalButtonsEnum.mbDelete)">Delete</button>
            }

            @if (((ModalButtonsEnum)ShowButtons).HasFlag(ModalButtonsEnum.mbCancel))
            {
                <button onclick="() => ConfirmResult(ModalButtonsEnum.mbCancel)">Cancel</button>
            }
        </div>
    </div>
}

@code {
    [Parameter] public string DialogMessage { get; set; } = string.Empty;
    [Parameter] public int ShowButtons { get; set; } = 2 | 4;
    [Parameter] public EventCallback<ModalButtonsEnum> OnConfirm { get; set; }
    public bool Show { get; set; }

    public void ShowDialog() => Show = true;

    async Task ConfirmResult(ModalButtonsEnum result)
    {
        Show = false;
        await OnConfirm.InvokeAsync(result);
    }
}
